.header_font{
    font-size: 10px;
}
.title_bg{
    background-color: var(--lwc-colorBackground,rgb(243, 242, 242));
}
.title_div{
    width: 30%;
}
.space{
    width: 10%;
}
label{
    font-size: 20px;
}
.slds-p-around_medium1{
    padding-bottom: var(--lwc-spacingMedium,1rem);
}
th{
    margin: 10px;
}
td{
    margin: 10px;
}
.choose{
    overflow: initial;
}